
#section-main{
}

.div-lista-livros{
    margin: 2%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    text-align: center;
    width: 100% !important;
    height: 100%;
}
